{% extends "base.html" %}

{% block content %}

<div class="container-lg">
    <form class="my-3">
        <div class="row form-group align-items-center justify-content-center">
            <label for="search" class="sr-only d-none">Search</label>
            <div class="col-md-8">
            <input type="text" class="form-control my-2 bg-body-tertiary col-auto" placeholder="Search" id="search">
            </div>
            <div class="col-md-4">
                <label for="selectType" class="sr-only d-none"></label>
                <select id="selectType" class="form-control bg-body-secondary">
                    <option selected>Select Article Type</option>
                    <option>Precedents</option>
                    <option>Laws</option>
                    <option>Cases</option>
                </select>
            </div>
        </div>
    </form>
    <table class="table my-2">
        <thead>
            <tr>
                <th scope="col" class="col-1">#</th>
                <th scope="col" class="col-11 col-md-7">Title</th>
                <th scope="col" class="d-none d-md-table-cell col-md-2">Area</th>
                <th scope="col" class="d-none d-md-table-cell col-md-2">Article Type</th>
            </tr>
        </thead>
        <tr>
            <th scope="row">1</th>
            <td>Test</td>
            <td class="d-none d-md-table-cell col-md-2">Test</td>
            <td class="d-none d-md-table-cell col-md-2">Test</td>
        </tr>
    </table>
</div>

{% endblock %}