{% extends "base.html" %}

{% block content %}

<div class="container-md">
        <h2 class="display-4 text-center mt-3">Feedback</h2>
        <p class="text-center">Please leave any feedback you have in the form below.</p>

    <form>
        <label for="feedbackName" class="sr-only">Name</label>
        <input type="text" class="form-control my-2 bg-body-tertiary" placeholder="Name" id="feedbackName">
        <label for="feedbackEmail" class="sr-only">Email</label>
        <input type="email" class="form-control my-2 bg-body-tertiary" placeholder="Email" id="feedbackEmail">
        <label for="feedback" class="sr-only">Feedback</label>
        <textarea name="feedback" id="feedback" cols="30" rows="10" class="form-control bg-body-tertiary my-2"></textarea>


    </form>
    <div class="mt-3 text-center">
            <button class="btn btn-primary text-center px-5" type="button">Submit</button>
    </div>

</div>

{% endblock %}