{% macro input(field, type) -%}
    <div>
        {{ field.label(class_='form-label') }}
        {{ field(class_='form-control bg-body-tertiary' + (' is-invalid' if field.errors else ''), type_=type) }}
        {% for error in field.errors %}
            <div class="invalid-feedback">
                {{ error }}
            </div>
        {% endfor %}
    </div>
{%- endmacro %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/bootstrap/dist/css/bootstrap.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='assets/icon.svg') }}">
    {{ modals() }}
    <title>Law Database</title>
</head>
<body data-bs-theme="dark">
<div class="container-fluid border-bottom bg-body-secondary">
    <div class="align-items-center justify-content-lg-start pt-2 pb-2 navbar navbar-dark navbar-expand-md flex-wrap">
        <a href="{{ url_for('index') }}" class="d-flex align-items-center mb-0 text-decoration-none me-2 ms-2">
            <img src="{{ url_for('static', filename='assets/icon.svg') }}" width="36" height="36" alt="icon">
        </a>
        <button class="navbar-toggler justify-content-end" type="button" data-bs-toggle="collapse"
                data-bs-target="#main-nav" aria-controls="main-nav" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="main-nav">
            <a href="{{ url_for('index') }}"
               class="nav-link pe-4 {{ 'text-success-emphasis' if page=='index' else '' }}">Home</a>
            <a href="{{ url_for('database') }}"
               class="nav-link pe-4 {{ 'text-success-emphasis' if page=='database' else '' }}">Database</a>

            {% if not session['logged_in'] %}
                <button type="button" class="btn btn-secondary me-2 ms-2 d-none d-md-inline" data-bs-toggle="modal"
                        data-bs-target="#loginModal">Login
                </button>
            {% else %}
                <a class="btn btn-secondary me-2 ms-2 d-none d-md-inline" href="{{ url_for('logout') }}">Logout</a>
            {% endif %}
            <button type="button" class="btn btn-primary d-none d-md-inline" data-bs-toggle="modal"
                    data-bs-target="#signupModal">Sign-up
            </button>
            {% if session['logged_in'] %}
                <a href="{{ url_for('logout') }}" class="nav-link pe-5 d-md-none">Logout</a>
            {% else %}
                <a href="" data-bs-toggle="modal" data-bs-target="#loginModal"
                   class="nav-link pe-5 d-md-none">{{ session['username'] }}</a>
            {% endif %}
            <a href="" data-bs-toggle="modal" data-bs-target="#signupModal" class="nav-link pe-3 d-md-none">Sign-up</a>
        </div>

    </div>
</div>

{% block content %} {% endblock %}
{{ modals() }}
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="loginTitle">Login</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <form class="form-signin" action="{{ request.path }}" method="post">
                <div class="modal-body">
                    {{ modal_messages() }}
                    {{ login_form.csrf_token(id='csrf_login') }}
                    {{ input(login_form.email) }}
                    {{ input(login_form.password, 'password') }}
                    {#                    <label for="loginEmail" class="sr-only">Email address</label>#}
                    {#                    <input type="email" id="loginEmail" class="form-control my-2 bg-body-tertiary"#}
                    {#                           placeholder="Email address" required autofocus="">#}
                    {#                    <label for="loginPassword" class="sr-only">Password</label>#}
                    {#                    <input type="password" id="loginPassword" class="form-control my-2 bg-body-tertiary"#}
                    {#                           placeholder="Password" required>#}
                </div>
                <div class="modal-footer">
                    {% if invalid %}
                        <p class="text-danger align-start">Invalid username or password!</p>
                    {% endif %}
                    {{ login_form.submit(class='btn btn-primary') }}
                    {#                    <input type="submit" class="btn btn-primary" value="Login">#}
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>

                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="loginModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="signupTitle">Sign-up</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <form class="form-signin" action="{{ request.path }}" method="post">
                <div class="modal-body">
                    {{ modal_messages() }}
                    {{ signup_form.csrf_token(id='csrf_login') }}
                    {{ input(signup_form.email, '') }}
                    {{ input(signup_form.username, '') }}
                    {{ input(signup_form.password, 'password') }}
                    {#                    <label for="signupEmail" class="sr-only">Email address</label>#}
                    {#                    <input type="email" id="signupEmail" class="form-control my-2 bg-body-tertiary"#}
                    {#                           placeholder="Email address" required autofocus="">#}
                    {#                    <label for="signupPassword" class="sr-only">Password</label>#}
                    {#                    <input type="password" id="signupPassword" class="form-control my-2 bg-body-tertiary"#}
                    {#                           placeholder="Password" required>#}
                    {#                    <label for="signupRepeatPassword" class="sr-only">Repeat Password</label>#}
                    {#                    <input type="password" id="signupRepeatPassword" class="form-control my-2 bg-body-tertiary"#}
                    {#                           placeholder="Repeat Password" required>#}
                </div>
                <div class="modal-footer">
                    {% if invalid %}
                        <p class="text-danger align-start">Email already exists!</p>
                    {% endif %}
                    {{ signup_form.submit(class='btn btn-primary') }}
                    {#                    <input type="submit" class="btn btn-primary" value="Sign-up">#}
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>

                </div>
            </form>
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='node_modules/bootstrap/dist/js/bootstrap.bundle.js') }}"></script>
<script>
    {% if modal == 'loginModal' %}
        loginModal = new bootstrap.Modal(document.getElementById('loginModal'))
        loginModal.show();
    {% elif modal == 'signupModal' %}
        signupModal = new bootstrap.Modal(document.getElementById('signupModal'))
        signupModal.show();
    {% endif %}
</script>
</body>
</html>